<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>사원 목록 페이지</title>
<style type="text/css">
body {
	text-align: center;
}

h2 {
	text-align: center;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: lightgrey;
}

tr:hover {
	cursor: pointer;
}
</style>
</head>
<body>
	<!-- 사원상세정보 -->
	<h3>사원 정보</h3>
	<div>
		<input id="ename" type="text" disabled="disabled" placeholder="사원이름">
		<input id="comm" type="text" disabled="disabled" placeholder="사원급여">
		<input id="sal" type="text" disabled="disabled" placeholder="사원보너스">
	</div>
	<!-- 사원추가 -->
	<input id="i_empno" type="text" placeholder="EMPNO">
	<input id="i_ename" type="text" placeholder="ENAME">
	<input id="i_job" type="text" placeholder="JOB">
	<input id="i_sal" type="text" placeholder="SAL">
	<input id="i_deptno" type="text" placeholder="DEPTNO">
	<button onclick="doInsert()" type="button">사원추가</button>

	<!-- 사원삭제 -->
	<div>
		<input id="d_empno" type="text" placeholder="EMPNO">
		<button onclick="doDelete()" type="button">사원삭제</button>
	</div>
	<!-- 사원수정 -->
	<div>
		<input id="u_empno" type="text" placeholder="EMPNO"> 
		<input id="u_ename" type="text" placeholder="ENAME"> 
		<input id="u_job" type="text" placeholder="JOB"> 
		<input id="u_sal" type="text" placeholder="SAL">
		<button onclick="doUpdate()" type="button">사원수정</button>
	</div>

	<!-- 사원목록 구현하기 -->
	<h3>사원목록</h3>
	<div id="data"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
<script type="text/javascript">
	function doSubmit() {
		//AJAX 호출
		$
				.ajax({
					url : '/api/v1/emp',
					contentType : 'application/json',//서버에 json타입으로 보낼 예정(요청)
					type : 'GET',
					dataType : 'json',
					success : function(response) {
						console.log(response)
						var table = "<table align = center><th>EMPNO</th><th>ENAME</th><th>JOB</th><th>HIREDATE</th><th>SAL</th><th>DNAME</th><th>LOC</th> ";
						for ( var i in response) {
							table += "<tr onclick = 'getEmp("
									+ response[i].empno + ")' ><td>"
									+ response[i].empno + "</td><td>"
									+ response[i].ename + "</td><td>"
									+ response[i].job + "</td><td>"
									+ response[i].hiredate + "</td><td>"
									+ response[i].sal + "</td><td>"
									+ response[i].dname + "</td><td>"
									+ response[i].loc + "</td></tr>"
						}
						;
						table += "</table>"
						$("#data").append(table);
					}
				})
	}
	doSubmit()
	function getEmp(empno) {
		$.ajax({
			url : '/api/v1/emp/' + empno,
			contentType : 'application/json',//서버에 json타입으로 보낼 예정(요청)
			type : 'GET',
			dataType : 'json',
			success : function(response) {
				$("#ename").val(response.ename)
				$("#comm").val(response.comm)
				$("#sal").val(response.sal)
			}
		})
	}

	function doInsert() {
		var empno = $("#i_empno").val();
		var ename = $("#i_ename").val();
		var job = $("#i_job").val();
		var sal = $("#i_sal").val();
		var deptno = $("#i_deptno").val();

		var jsonData = {
			"empno" : empno,
			"ename" : ename,
			"job" : job,
			"sal" : sal,
			"deptno" : deptno
		};
		//AJAX 호출
		$.ajax({
			url : '/api/v1/emp/insert',
			contentType : 'application/json',//서버에 json타입으로 보낼 예정(요청)
			type : 'POST',
			data : JSON.stringify(jsonData),
			dataType : 'json',
			success : function(response) {
				console.log(response)
				alert("사원추가완료")
				location.reload();//강제새로고침
			}
		});
	}
	function doDelete() {
		var empno = $("#d_empno").val();
		if (empno == "") {
			alert("사원번호를 입력해주세요")
			$("#d_empno").focus();
			return false;
		}
		if (empno<1 || empno>9999) {
			alert("잘못된 사원번호 입니다")
			$("#d_empno").focus();
			$("#d_empno").val('');
			return false;
		}
		//사원삭제
		$.ajax({
			url : "/api/v1/emp/" + empno,
			type : 'DELETE',
			dataType : 'json',
			success : function(response) {
				console.log(response)
				alert("사원삭제완료")
				location.reload();//강제새로고침
			}
		});
	}
	function doUpdate() {
		var empno = $("#u_empno").val();
		var ename = $('#u_ename').val();
		var job = $("#u_job").val();
		var sal = $("#u_sal").val();

		var jsonData = {
			"empno" : empno,
			"ename" :ename,
			"job" : job,
			"sal" : sal
		};
		$.ajax({
			url : '/api/v1/emp/',
			type : 'PATCH',
			contentType : 'application/json',//서버에 json타입으로 보낼 예정(요청)
			data : JSON.stringify(jsonData),
			dataType : 'json',
			success : function(response) {
				console.log(response);
				alert("사원수정완료");
				location.reload();//강제새로고침
			}
		});
	}
</script>
</html>
