<!DOCTYPE html >
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<h3>회원가입</h3>
	<input id="userId" type="text" placeholder="아이디를 입력해주세요">
	<button type="button" onclick="doCheck()">아이디 체크</button>
	<input id="userName" type="text" placeholder="이름을 입력해주세요">
	<input id="userPw" type="password" placeholder="비밀번호를 입력해주세요">
	<button type="button" onclick="doJoin()">회원가입</button>

	<h3>로그인</h3>
	<input id="i_userId" type="text" placeholder="아이디를 입력해주세요">
	<input id="i_userPw" type="password" placeholder="비밀번호를 입력해주세요">
	<button type="button" onclick="doLogin()">로그인</button>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.js"
	integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
<script>
	function doLogin(){
		var id = $("#i_userId");
		var pw = $("#i_userPw");
		var jsonData = {
				"id" : id.val(),
				"pw" : pw.val()
			};
		if (id.val() == "") {
			alert("아이디를 입력해주세요🙏🙏");
			id.focus();
			return false;
		}
		if (pw.val() == "") {
			alert("비밀번호를 입력해주세요🙏🙏");
			pw.focus();
			return false;
		}
		$.ajax({
			url : '/api/v1/login',
			type : 'POST',//get으로 하면 비밀번호가 유출될수있기 때문에 post로 함
			contentType : 'application/json',//서버에 json타입으로 보낼 예정(요청)
			data : JSON.stringify(jsonData),
			dataType : 'json',
			success : function(response) {
			if(response.user){
				//페이지 이동 로직구현 예정
				alert(response.name + "님, 환영합니다 😘😘");
				location.href ="/users";
			}else{
				alert("아이디 혹은 비밀번호가 틀렸습니다🙄🙄");
			}
			}
		});
	}

	function doJoin() {
		//js로 빈칸 체크하기
		var id = $("#userId");
		var name = $("#userName");
		var pw = $("#userPw");
		
		var jsonData = {
				"id" : id.val(),
				"name" : name.val(),
				"pw" : pw.val()
			};
		if (id.val() == "") {
			alert("아이디를 입력해주세요🙏🙏");
			id.focus();
			return false;
		}
		if (name.val() == "") {
			alert("이름을 입력해주세요🙏🙏");
			name.focus();
			return false;
		}
		if (pw.val() == "") {
			alert("비밀번호를 입력해주세요🙏🙏");
			pw.focus();
			return false;
		}
		
		$.ajax({
			url : '/api/v1/users',
			contentType : 'application/json',//서버에 json타입으로 보낼 예정(요청)
			type : 'POST',
			data : JSON.stringify(jsonData),
			dataType : 'json',
			success : function(response) {
				console.log(response);
				alert("회원가입 축하한다;; 💢")
				location.reload();//강제새로고침
			}
		});

		return true;
		
	}
	var isCheck = false;
	// 아이디 중복 체크 : 이미 가입된 아이디 찾기!
	function doCheck(){
		var id = $('#userId').val();
		$.ajax({
			url : '/api/v1/users/'+id,
			type : 'GET',
			dataType : 'json',
			success : function(response){
				// true면 이미 가입한 아이디가 존재!
				if(response){
					alert('이미 가입된 아이디 입니다!');
					return false;
				}else{
					alert('사용 가능한 아이디 입니다!');
					isCheck = true;
					return false;
				}
			}
		})
	}
</script>
</html>